PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=cremadnata
DB_USER=root
DB_PASSWORD=rootpassword

MONGO_HOST=localhost
MONGO_PORT=27018
MONGO_DB=orders_db

MONGO_ATLAS_URI=mongodb+srv://<user>:<password>@<cluster>/logs_db?retryWrites=true&w=majority

JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=7d